<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.iwasto">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/house_leaf"
        android:label="@string/app_name"
        android:roundIcon="@drawable/house_leaf"
        android:supportsRtl="true"
        android:theme="@style/Theme.IWasto"
        android:usesCleartextTraffic="true">
        <activity android:name=".ForgotPassword"></activity>
        <activity android:name=".MainNavigation" />
        <activity android:name=".AllowAccess" />
        <activity android:name=".MenuNavigation" />
        <activity android:name=".Register" />
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>